<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
    <title>Introduction to SpringBoot Security</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}">

</head>
<body>
<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav">

    <nav>
        <ul>
            <li><a th:href="@{~/index}">Homepage </a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{~/profile/index}">Profile</a></li>
            <li sec:authorize="hasRole('USER')"><a th:href="@{~/user/accounts}">Your account</a></li>
            <li sec:authorize="hasRole('USER')"><a th:href="@{~/user/transfer}">Transfers</a></li>
            <li sec:authorize="hasRole('USER')"><a th:href="@{~/user/earning}">Earnings</a></li>
            <li sec:authorize="hasRole('MANAGER')"><a href="#">Management</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{~/admin/index}">Admin</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{~/admin/config}">Config Bnak</a></li>

            <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
            <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
            <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>

        </ul>
    </nav>

</div>


<div th:fragment="earnFragment">
    <div>
        <ul>
            <li><a th:href="@{~/user/earning/history}">History</a></li>
            <li><a th:href="@{~/user/earning/deposit}">Make deposit</a></li>
            <li><a th:href="@{~/user/earning/ask}">Ask for money </a></li>
        </ul>
    </div>

</div>
</body>
</html>