<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!--ns(namespace)-->
<!--A DTD(Document Type Definition :xmlns:th defines the structure and the legal elements
 and attributes of an XML document.-->

<head th:insert="fragments.html :: headerfiles">
<title>Login Page</title>

</head>
<body>


<form th:action="@{/login}" method="post">

    <div class="container">
        <h1>Login page</h1>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" /> <br />
        <button type="submit">Log in</button>

    </div>

</form>
<p th:if="${param.error}">Wrong user or password</p>
<p th:if="${param.registerSuccess}">Succesfully signed in, please log in</p>



</body>
</html>